<section class="banner3">
  <div class="container">
    <h1>Mon profil</h1>
    <div class="formulaire">



      <%= simple_form_for @profil do |f| %>
      <div class="field text-field">
        <%= f.input :firstname, label:"Prénom" %>
      </div>
      <div class="field text-field">
        <%= f.input :lastname, label:"Nom" %>
      </div>
      <div class="field text-field">
        <%= f.input :age, collection: 18..60, label:"Age" %>
      </div>
      <div class="field text-field">
        <%= f.input :formation, collection: ["MMI", "PUB", "Com' des orgas", "IJBA", "Métiers du livre", "Info Num", "Carrière Sociale"], label:"De quel formation de l'IUT êtes-vous ?" %>
      </div>
      <div class="field text-field">
        <%= f.input :description, label:"Décrivez vous !" %>
      </div>
      <div class="field text-field">
        <%= f.input :photo, label:"Votre plus belle photo" %>
      </div>
      <div class="actions">
        <%= f.button :submit, label:"Enregistrer" %>
      </div>
      <% end %>
    </div>
  </div>
</section>
