  <div class="d-flex">
    <div class="align-content-stretch flex-wrap photobg" style="width:50vw; height:100vh; background-image:url(<%= @profil.photo %>); background-size: cover; background-position:center;">
    </div>
    <div class="align-content-stretch flex-wrap contentshow" style="width:50vw; height:100vh;">


      <div class="content-show">
        <h1><%= @profil.firstname %></h1>
        <h2><%= @profil.age %> ans</h2>
        <p><%= @profil.description %></p>
      </div>
      <span class="badge"><%= @profil.formation %></span>

    </div>

  </div>
