<section style="width: 100vw; height:100vh; background-image:url(<%= @profil.photo %>); background-size: cover; background-position:center; ">


  <div class="container">
    <h1><%= @profil.firstname %> <%= @profil.lastname %></h1>
    <h2><%= @profil.age %> ans</h2>
    <h3><%= @profil.formation %></h3>
    <p><%= @profil.description %></p>


  </div>

</section>
