<!DOCTYPE html>
<html>
  <head>
    <title>Michel Match</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'icon-michel.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">

      <span class="navbar-brand"><%= link_to image_tag("logo-michel-blanc.png", size: "90x90", alt: ""), root_path %></span>
      <% if user_signed_in? %>
        <%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
      <% else %>
      <%= link_to 'Se connecter', new_user_session_path, class:"btn btn-primary"   %>
      <% end %>
      
    </nav>
    <%= yield %>
  </body>
</html>
