<!DOCTYPE html>
<html>
  <head>
    <title>Michel Match</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
        <span class="navbar-brand"><%= link_to image_tag("logo-michel-blanc.png", size: "90x90", alt: ""), root_path %></span>
    </nav>
    <%= yield %>
  </body>
</html>
